* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 150px;
}